@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: grid;
  height: 100vh;

  background-color: black;
  place-items: center;
  font-family: "Inter", sans-serif;
}

h1 {
  color: white;
  font-size: 8rem;
  font-family: fantasy;
  line-height: 0.85;
  perspective: 500px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}
